<!-- <div class="advanced-area">
	<section class="gallery gallery-area" [@listAnimation]="photos.length">
		<li
			*ngFor="let photo of photos; index as i"
			class="photo-record"
			(click)="removeItem(i)"
			(mouseover)="mve = i"
			(mouseleave)="mve = null"
			[@openClose]="i === mve"
			(@openClose.done)="print($event)"
		>
			<img *ngIf="photo.src" [src]="photo.src" />
		</li>
	</section>
</div>

<button (click)="popItem()">btn</button>
 -->

<div *leftNav>TO USE WITH THE DIRECTIVE</div>

<wizard>
	<step-one wizardStep></step-one>
	<step-two wizardStep></step-two>
	<step-one wizardStep></step-one>
</wizard>
