ion-tabs {
	background: url('../../assets/wallpapers/tab_theme.png');
}

ion-tab-bar {
	--background: transparent;
}

/* ion-tab-button {
	--background: url('../../assets/wallpapers/pandas.jpg');
	background: url('../../assets/wallpapers/pandas.jpg');
}
 */