<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Pares
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size="6" *ngFor="let figure of figures">
				<!-- <div class="rect"></div> -->
				<img class="rect" [src]="figure.src" />
				<!-- <app-flipping-fig [figure]="figure.src"></app-flipping-fig> -->
<!-- 				<div class="rect" [style.background-image]="'url(' + figure.src + ')'"></div> -->
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
